/* 媒体查询：屏幕宽度小于等于 768px 时应用以下样式 */
@media (max-width: 900px) {
    .container {
        flex-direction: column; /* 将并列布局改为上下堆叠 */
    }

    .text_container {
        padding: 0 20px;
        margin-bottom: 0px; 
        flex: none; /* 明确取消 Flex 属性 */
    }

    .form_container {
        position: static; /* 取消浮动 */
        max-height: none; 
        width: 100%;
        margin: 0; 
        flex: none; /* 明确取消 Flex 属性 */
    }

    iframe {
        display: block;
        margin: 0;
        max-width: 100%;
        box-sizing: border-box;
        width: 100%;
        height: 1600;
    }


}

:root {
    --primary-color: #072140; /* A blue often used in academic branding */
    --secondary-color: #333;
    --text-color: #444;
    --bg-color: rgba(247, 247, 247, 0.8);
    --container-width: 1300px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: var(--text-color);

}

main {
    max-width: 1300px; 
    margin: 0 auto; /* 居中显示 */
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);

}




h1, h2 {
    color: var(--secondary-color);
    margin-top: 30px;
    border-top: 3px solid #ddd;
    padding-top: 10px;
    margin-top: 40px;

}

iframe {
    display: block;
    margin: 30px auto;
    max-width: var(--container-width);
    box-sizing: border-box;
    height: 1600px;
    width: 100%;
}

.logo-container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 30px;

}

.page-title-background {
    width: 100%;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px; 
    padding-bottom: 50px;

    background-image: 
    linear-gradient(
        to top,
        rgba(247, 247, 247, 1), 
        rgba(247, 247, 247, 0) 
    ),
    url('figs/webviewer.png');

}   

.page-title {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 1dvb;

    background-color: var(--bg-color);


}

.container {
    display: flex; 
    gap: 30px; 
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 30px;

}

.text_container {
    flex: 3; 
}


.form_container {
    flex: 2; 
    position: sticky; 
    top: 0px; /* 设置表单距离视口顶部的距离 */
}

.site-header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}

.site-header .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}


.page-title h1 {
    font-size: 2.5em;
    border: none;
    padding-bottom: 0;
}


.styled-list {
    list-style-type: none; /* Hide default bullet points */
    padding-left: 15px;   /* Add custom padding for simulated bullets */
    margin: 5px 7px;
}

.styled-list li {
    position: relative;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap; 
}

.styled-list li::before {
    content: "–"; /* A dash character */
    position: absolute;
    left: -20px; /* Position it outside the list item content */
    top: 0;
    font-weight: bold;
    color: #444; /* Dark color for the dash */
}

.styled-list li b {
    flex-shrink: 0; 
    margin-right: 5px; /* Space after the colon */
    font-weight: bold;
}

.description-line {
    flex-grow: 1; 
}

.secondary-line {
    /* Forces the line to take up the full width, wrapping it */
    width: 100%; 
    padding-left: 0px; 
    font-style: italic;
    /* Use margin-top to separate the wrapped line from the line above it */
    margin-top: 3px; 
}

.site-footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;


}




.page-footer-background {
    width: 100%;
    margin-top: 20px; 
    padding-top: 35px;
    padding-bottom: 20px;
    
    background-image: 
        linear-gradient(
            to top, 
            rgba(247, 247, 247, 0), 
            rgba(247, 247, 247, 1) 
        ),
        url('figs/webviewer.png'); 
    
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--text-color); 
}


.page-footer {
    text-align: center;
    max-width: var(--container-width);
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(247, 247, 247, 0.9);
}

.page-footer p {
    margin-top: 0pt;
    margin-bottom: 0pt;
}

.page-footer a {
    color: var(--primary-color-color); 
    font-weight: bold; 
    text-decoration: none; 
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 2px;
    transition: color 0.3s, border-color 0.3s;
    margin-left: 10px;
    font-size: larger;
}

.page-footer .fa-envelope {
    color: var(--primary-color);
    margin-right: 5px; 
    margin-left: 20px; 

}    

.page-footer a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);


}

.footer-logo {
    height: 50px; 
    margin-left: 15px; 
    vertical-align: middle; 
    
}

.site-footer .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


